*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.island {
    display: block;
    max-width: 1024px;
    margin: 0 auto;
}

body {
    background-color: #060C10;
    color: #FFFFFF;
    font-family: Arial, Calibri, Helvetica, sans-serif;
}

h1 {
    display: block;
    color: #FCB720;
}

a {
    color: #FFFFFF;
}
.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.hidden {
    display: none !important;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}
.thumbnails__list,
.thumbnails__pager
{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.thumbnails__list li
{
    display: inline-block;
    width: 19%;
    margin-top: 1%;
    margin-right: 1%;
}

.thumbnail
{
    width: 100%;
}

.thumbnail:hover,
.thumbnail:focus
{
    border: 1px solid #FCB720;
    opacity: 0.7;
}

.thumbnails__pager
{
    text-align: right;
    margin: 0.5em 0;
}

.thumbnails__pager li
{
    display: inline;
}

.thumbnails__pager a
{
    margin: 0 0.2em;
    color: #FFFFFF;
    text-decoration: none;
}

.thumbnails__pager a.current,
.thumbnails__pager a:hover,
.thumbnails__pager a:focus
{
    color: #FCB720;
    text-decoration: underline;
}
.form-search
{
    margin: 0.5em 0;
    text-align: right;
}

.form-search #query
{
    padding: 0.2em;
}

.form-search input
{
    color: #000000;
}

.thumbnails
{
    border-bottom: 3px solid #FFFFFF;
}

.copyright
{
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: right;
}